* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: rgba(0, 90, 90, 0.105);
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: center;
}

.flex {
  width: auto;
  height: auto;
  background-color: rgba(51, 51, 142, 0.119);
}

.formbox {
  align-items: center;
}
