/* font for standup h1 */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
/* standup h1 */

/* global font */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Red+Hat+Display:wght@300&display=swap");
/* global font */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
  color: rgb(44, 44, 44);
  letter-spacing: 1.3px;
}

li {
  list-style: none;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 236, 236);
  color: rgb(12, 12, 12);
}

.main_wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /* border: 5px solid black; */
}

.nav_bg {
  position: relative;
  background-color: rgba(67, 218, 235, 0.495);

  /* background-color: rgba(39, 41, 42, 0.477); */
  min-width: 100%;
  /* border-radius: 5px; */
  height: 175px;
  /* border-bottom: 5px solid rgba(255, 0, 0, 0.112); */
}

.nav {
  position: relative;
  top: 25px;
  max-width: fit-content;
  /* border: 1px solid rgba(226, 202, 184, 0.537); */
  padding: 15px;

  /* background-color: rgba(248, 243, 243, 0.386); */
}

.nav_bar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: fit-content;
  /* border: 1px solid black; */
  justify-content: space-evenly;
}

.home_butt,
.standup_butt,
.sketches_butt,
.friends_butt,
.newvideo_butt {
  margin-bottom: 5px;
}

.nav_bar a:hover {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* search bar */

.search {
  position: absolute;
  top: 123px;
  margin-left: 1px;
  width: fit-content;
}

.searchbar::placeholder {
  color: rgba(0, 0, 0, 0.518);
  opacity: 80%;
}

.searchbar:focus {
  border-style: none;
  outline-style: none;
  box-shadow: none;
  border-color: none;
}

.search_wrap {
  position: relative;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.searchbar {
  height: 38px;
  width: 300px;
  background-color: rgba(201, 201, 201, 0.61);
  border: none;
  padding: 10px;
  color: black;
  font-weight: bolder;
  letter-spacing: 1.5px;
  border: 1px solid beige;
}
.search_button {
  position: relative;
  right: 3px;
  top: 14.5px;
  background-color: rgb(209, 209, 209);
  border: 2px solid beige;
}
/* search bar */

.main {
  display: flex;
  justify-content: center;
}

.scroll {
  margin-left: auto;
  /* display: flex;
  align-content: center; */
  width: 300px;
  max-height: 400px;
  overflow-y: scroll;
  /* border: 5px solid red; */
}

.video1_scroll {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.main_content {
  width: 900px;
  /* border: 5px solid green; */
}

.other_videos {
  margin-left: auto;
  /* display: flex;
  align-content: center; */
  width: 300px;
  max-height: 400px;
  overflow-y: scroll;
}

.table_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
}

.iframe_home {
  width: 200px;
  height: 150px;
  padding-left: 15px;
}
.footer {
  margin-top: 5px;
  text-align: center;
  position: relative;
  bottom: 0;
}

/* standup page */

.video1_standup,
.video2_standup,
.video3_standup,
.video4_standup,
.video5_standup,
.video6_standup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.td_standup {
  width: 200px;
  height: 200px;
}

.table_wrap_standup {
  margin-top: 25px;
}
/* title */
.h1_standup_container,
.follow_standup_container,
.h1_mytube_container {
  width: 100%;
  position: relative;
}
/* title */

.standup_h1,
.mytube_h1 {
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 1.3px;
  font-size: 50px;
  width: fit-content;
  margin-left: auto;
  /* margin-right: auto; */
  position: relative;
  top: 0px;
}
/* title */

.follow_standup {
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 1.3px;
  font-size: 14px;
  width: fit-content;
  margin-left: auto;
  /* margin-right: auto; */
  position: absolute;
  bottom: -39;
  right: 5px;
}

.follow_button {
  color: rgb(255, 255, 255);
  background-color: crimson;
  border: 0;
  border-radius: 5px;
  width: 150px;
  padding: 5px;
}

.follow_button > a {
  color: aliceblue;
}
