.container {
  max-width: 760px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem;
}

header,
.menu-list ul {
  display: flex;
  gap: var(--size-20);
  align-items: center;
}

header img {
  width: var(--size-100);
}

.menu-list li button {
  cursor: pointer;
  outline: none;
  border: 0;
  padding: var(--size-16) var(--size-40);
  background-color: var(--font-color-link);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: var(--size-5) var(--size-20);
}

.hero-wrap {
  margin: auto;
}

.hero-text .text-one {
  display: flex;
  flex-direction: column;
}

.hero-text .text-one .text-one-b {
  display: flex;
  gap: var(--size-14);
}

.hero-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 50px 50px;
}

.hero-icons img {
  border: 0px solid transparent;
  padding: var(--size-5);
  border-radius: 50%;
  background-color: white;
  width: var(--size-100);
}

.img-one {
  width: 80px;
  height: 80px;
  border: 0px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  right: 5rem;
}

.hero-icons > .img-one {
  width: var(--size-50);
}

.img-two {
  width: 80px;
  height: 80px;
  border: 0px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  top: 3.5rem;
  right: 5rem;
}

.img-three {
  width: 80px;
  height: 80px;
  border: 0px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  top: -5rem;
  left: 10rem;
}
.img-four {
  width: 100px;
  height: 100px;
  border: 0px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  top: 5rem;
  right: 10rem;
}
.img-four img {
}
.img-five {
  width: 80px;
  height: 80px;
  border: 0px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  top: -2rem;
  left: 5rem;
}
.img-six {
  width: 80px;
  height: 80px;
  border: 0px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  top: 5rem;
  left: -5rem;
}

.img-seven {
  width: 80px;
  height: 80px;
  border: 0px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  top: 3rem;
  left: 10rem;
}
