.container {
  max-width: 760px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem;
}

header,
.menu-list ul {
  display: flex;
  gap: var(--size-20);
  align-items: center;
}

header img {
  width: var(--size-100);
}

.menu-list li button {
  cursor: pointer;
  outline: none;
  border: 0;
  padding: var(--size-16) var(--size-40);
  background-color: var(--font-color-link);
}

.hero {
  display: flex;
  align-items: center;
  padding: var(--size-5) var(--size-20);
}

.hero-wrap {
  margin: auto;
}

.hero-text .text-one {
  display: flex;
  flex-direction: column;
}

.hero-text .text-one .text-one-b {
  display: flex;
  gap: var(--size-14);
}

.hero-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  min-width: 150px;
  flex-wrap: wrap;
  justify-items: flex-end;
}

.hero-icons > span img {
  border: 1px solid transparent;
  padding: var(--size-5);
  border-radius: 50%;
  background-color: white;
  width: var(--size-50);
}
