.container {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-around;
  padding: var(--size-5) 0rem;
}

header,
.menu-list ul {
  display: flex;
  gap: var(--size-20);
  align-items: center;
}

header img {
  width: var(--size-100);
}

.menu-list li button {
  cursor: pointer;
  outline: none;
  border: 0;
  padding: var(--size-10) var(--size-14);
  background-color: var(--font-color-link);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-wrap {
  margin: auto;
}

.hero h1 {
  font-size: var(--size-40);
  font-weight: bold;
  margin: 0;
  line-height: 1.3;
}

.hero h6 {
  margin: 0;
}

.hero-text .text-one {
  display: flex;
  flex-direction: column;
}

.hero-text .text-one .text-one-b {
  display: flex;
  gap: var(--size-14);
}

.hero-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 50px 50px;
}

.hero-icons span {
  display: inline-block;
  border: 1px solid transparent;
  padding: var(--size-16);
  border-radius: 50%;
  position: relative;
}

.hero-icons img {
  width: 50px;
  height: 50px;
}

.img-one {
  top: 2rem;
  right: 13rem;
}

.img-two {
  top: 4.5rem;
  right: 10rem;
}

.img-three {
  top: -4rem;
  left: 9rem;
}
.img-four {
  top: 7rem;
  right: 17rem;
}

.img-five {
  top: 1rem;
  left: -1rem;
}
.img-six {
  top: 7rem;
  left: -11rem;
}

.img-seven {
  top: 5rem;
  left: 9rem;
}

/* .pal {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 50%;
}

.pal img {
  width: 100px;
  height: 100px;
} */
